.highlights-list .highlight {
	cursor: var(--cursor);
	position: relative;
	padding: var(--size-4-2) var(--size-4-5) var(--size-4-2) var(--size-4-3);
	white-space: pre-wrap;
	width: 100%;
	font-size: var(--font-ui-smaller);
	line-height: var(--line-height-tight);
	background-color: var(--search-result-background);
	border: 1px solid var(--background-modifier-border);
	border-radius: var(--radius-s);
	overflow: hidden;
	margin: 0 0 var(--size-4-2);
	color: var(--text-muted);
}

.highlights-list .highlight:hover {
	color: var(--text-normal);
	background-color: var(--text-selection);
}
